<br>
<br>
<br>
<!--hero section-->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8 mx-auto">
          <div class="card border-none">
              <div class="card-body">
                  <div class="mt-2 text-center">
                      <h2>Sign In CU Admin</h2>
                  </div>
                  <div class="mt-4">
                    <%= render 'form' %>
                    <div class="clearfix"></div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>

