<!DOCTYPE html>
<html>
  <head>
    <title>Ror Prototype - Signup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'other', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'other', 'data-turbolinks-track': 'reload' %>
    <!-- Favicon -->
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Cu.</a>
    </nav>
    
    <%= yield %>

    
  </body>
</html>    